# 1. Необходимо создать свой файл ".env" в корне проекта (где и pom.xml)
# 2. Проверить, что файд ".env" включен в .gitignore
# 3. В файле ".env" необходимо указать следующие переменные окружения:
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=your_secret_password_here